.ribbon-wrapper-container {
    top: 0;
    background-color: rgb(255 0 0 / 90%);
    padding: 5px;
}
.ribbon-wrapper {
    text-align: center;
    line-height: 1;
}
.new-badge {
    font-size: 32px;
    font-weight: 700;
    line-height: 1;
}

.jl-dark svg.fa-lg {
    font-size: 2rem;
}
